@import "var.scss";

@media (min-width:769px) {
    #nav__close{
        color: rgba(255, 255, 255, 0.4);
        font-size: 3rem;
        position: absolute;
        right: 2rem;
        top: 0rem;
        display: none;
        cursor: pointer;
    }
    #nav__open{
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1;
        li{
            color: white;
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 4rem;
        }
        a{
            color: white;
            font-size: 2rem;
        }
    }
    header{

        background-image: url(/images/ron-whitaker-mVuKCYMGZBM-unsplash-1-scaled.jpeg) ;

        background-size: cover;

        .nav__bar__mob{
            display: none;
        }




        nav{

            display: flex;
            grid-column: span 12;


            .header__logo{
                font-size: 2rem;
                margin-left: -1rem;
                font-weight: 900;
                margin-top: 2rem;
               a{
                   color: $txt__colr;
               }
            }

            .nav__sociallinks{
                display: flex;
                margin-top: 2.6rem;
                li{
                    margin-right: 2rem;
                    a{
                    color: $txt__colr;
                }
            }
        }
           .nav__links {
               display: flex;
               margin-left: 32rem;
               margin-top: 2.6rem;


               li{
                   margin-right: 2rem;
                   a{
                   color: $txt__colr;
               }
            }
           }
        }

        #hero{
            .herotxt__con{
                grid-column: 3/10;


                .hero__head{
                    margin-top: 12rem;
                    margin-bottom: 4rem;
                    font-weight: 600;
                    font-size: 4rem;
                }
                a{
                    margin-top: 4rem;
                    margin-bottom: 8rem;
                }
            }


        }


}

#services{
    .row{
        column-gap: -4rem;
    }
    text-align: left;
    .servicestxt__con{
        text-align: center;
        margin: 4rem 0;
        grid-column: span 12;
        // margin-left: -9rem;
        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p{
            color: $light__gray;

        }
    }


    .services__logo{
        font-size: 4rem;
    }
    .services__head{
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .services__info{
        color: $light__gray;
    }
}

#projects{
    .row{
        column-gap: 2rem;
    }
    .projectstxt__con{
        grid-column: span 12;

    }
    .projects__head{
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .projects__quote{
        color: $light__gray;
    }

}

#team{
    .teamtxt__con{
        grid-column: span 12;

    }
    .team__head{
        font-weight: 900;
       font-size: 3rem;
    }
    .team__quote{
        margin-top: 2rem;
        margin-bottom: 4rem;
        color: $light__gray;
    }
    .team__head{
        position: absolute;
        transform: translateX(325%);
        margin-top: 14rem;
        font-size: 1.5rem;
        filter: opacity(0);
        transition: all 0.3s;

    }
    .team__work{
        position: absolute;
        transform: translateX(825%);
        margin-top: 16.5rem;
        filter: opacity(0);
        transition: all 0.3s;
    }
    .team__linkscon{
        position: absolute;

        margin-top: 18rem;

        margin-left: 32.5rem;
        transform: rotate(180deg) scale(-70%);
        filter: opacity(0);
        transition: all 0.3s;

        li{
            border: none;
            background-color: rgba(255, 255, 255, 0.3);
            padding: 0.1rem;
        }
    }


}
#blog{

    text-align: left;
    .blogtxt__con{
        grid-column: span 3;
    }
    .blog__head{
        font-size: 3.5rem;
    }
    .blog__mail{
        color: $sec__color;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    p{
        color: $light__gray;

    }
    .blog__linkscon{
        grid-column: span 12;
        margin-top: 4rem;
    }
    .blog__inputcon{
        grid-column: 5/12;
        margin-top: -19rem;

    }
    .btn{
        margin-top: 2rem;
        margin-bottom: 6rem;
        width: 20vw;
        text-align: center;
    }
}
footer{
    background-color: black;
    height: 40vh;
    .copy{
        grid-column: span 12;
        margin: 4rem 0;
        font-size: 1.5rem;
        color: $light__gray;
        span{
            color: $txt__colr;
        }
    }
    .links{
        grid-column: span 12;
        font-weight: 300;
        margin-left: 24rem;
        font-size: 1.5rem;

        a{
            color: $txt__colr;
        }
        ul{
            display: flex;


            li{
                margin-right: 1rem;
            }
        }
    }
}
}